.recall {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		width: 100%;
	}

	&-frame {
		grid-column: 1;
		grid-row: 1 / 3;
		overflow: hidden;
		display: flex;
		border: 1px solid var(--black, #1b1c1e);
		border-radius: var(--border30);

		& iframe {
			aspect-ratio: 760 / 712;

			@media (width < #{$mobile}px) {
				aspect-ratio: 355 / 433;
			}
		}

		@media (width < #{$mobile}px) {
			grid-column: 1 / -1;
			grid-row: 2;
		}
	}

	&-edge {
		grid-column: 2;
		grid-row: 1 / 2;
		display: flex;
		justify-content: center;
		align-items: center;

		& ul li {
			padding-block: 16px;
			padding-inline: 32px 48px;
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 5px;
			padding-block: 20px;
			cursor: default;
		}

		&__item {
			position: relative;
			z-index: 0;
			display: flex;
			gap: 12px;
			width: fit-content;
			font-weight: 600;
			color: var(--white, #ffffff);
			border-radius: 100px;

			&_violet {
				background-color: var(--violet1, #8753d1);
				rotate: -3deg;
				margin-block-start: 20px;
			}

			&_blue {
				background-color: var(--darkblue, #4f3ccd);
				rotate: -5deg;
			}

			&_green {
				background-color: var(--green1, #2a9d8f);
			}

			&_pink {
				background-color: var(--pink, #e9408f);
			}

			&_red {
				background-color: var(--red, #e9408f);
			}

			&_tiffany {
				z-index: 1;
				background-color: var(--tiffany, #2a9d8f);
			}

			&_yellow {
				background-color: var(--yellow, #f1c232);
			}

			&_img {
				z-index: 2;

				& img {
					position: absolute;
					z-index: 2;
					top: 60%;
					right: -60px;
					aspect-ratio: 1;
					width: 130px;
					rotate: 3deg;
					translate: 0 -50%;
				}
			}

			@include adaptiveValue('font-size', 24, 16);
		}

		&__icon {
			width: 24px;
			height: 24px;

			& svg {
				width: 100%;
				height: 100%;
			}
		}

		@media (width < #{$mobile}px) {
			grid-column: 1 / -1;
			grid-row: 1;
		}
	}

	&-people {
		grid-column: 2;
		grid-row: 2;

		& .people {
			&__img {
				width: 252px;
				height: 269px;
			}
		}

		@media (width < #{$mobile}px) {
			grid-column: 1 / -1;
			grid-row: 3;
		}
	}
}
