body::after {
	content: '';
	position: fixed;
	z-index: 149;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
}

[data-fls-popup-open] body::after {
	opacity: 1;
}

[data-fls-popup] {
	position: fixed;
	inset: 0;
	padding: 30px 10px;
	visibility: hidden;
	transition: visibility 0.8s ease 0s;
	pointer-events: none;

	&[data-fls-popup-active] {
		z-index: 150;
		overflow: auto;
		visibility: visible;
		pointer-events: auto;
	}
}

[data-fls-popup-close] {
	position: absolute;
	z-index: 1;

	@include adaptiveValue('top', 30, 10);
	@include adaptiveValue('right', 30, 10);

	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;

	& svg {
		width: 100%;
		height: 100%;
		transition: fill 0.3s ease 0s;
		fill: var(--white, #ffffff);
	}

	html:not([data-fls-touch]) & {
		@media (any-hover: hover), (pointer: fine) {
			&:hover {
				& svg {
					fill: var(--pink, #e9408f);
				}
			}
		}
	}
}

[data-fls-popup-active] [data-fls-popup-body] {
	visibility: visible;
	transform: scale(1);
}

[data-fls-popup-wrapper] {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
}

[data-fls-popup-body] {
	width: 100%;
	max-width: 900px;
	background-color: var(--white, #ffffff);
	border-radius: 20px;
	visibility: hidden;
	transition: transform 0.3s ease 0s, visibility 0.3s ease 0s;
	transform: scale(0);
}

[data-fls-popup-youtube-place] iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
}

.popup {
	display: flex;

	&__body {
		overflow: hidden;
		display: flex;
		border-radius: var(--border30, 30px);

		@include bg-center;
	}

	&__content {
		flex-grow: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&-head {
		@include adaptiveValue('height', 275, 190);

		overflow: hidden;

		&__people {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&-body {
		flex: 1 1 auto;
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-image: url('@img/bg/popupBg2.png');
		background-position: 0% 105%;
		background-repeat: no-repeat;
		background-color: var(--greylight, #f5f5f5);

		@include adaptiveValue('padding', 70, 30);
		@include adaptiveValue('gap', 50, 30);

		&__title {
			align-self: flex-start;

			@include adaptiveValue('font-size', 48, 22);

			font-weight: 800;
			line-height: 1;
		}

		&__form {
			display: flex;
			width: 100%;
		}

		&__buttons {
			align-self: flex-start;
			display: flex;
			gap: 20px;

			& [disabled] {
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}

	&-survey {
		& [data-fls-popup-body] {
			max-width: 700px;
		}

		& .popup {
			&-head {
				display: flex;
				justify-content: center;
				align-items: center;
				background-image: url('@img/bg/popupBg.png');
				background-color: var(--yellow1, #f5bd50);

				&__people {
					position: relative;
					margin-bottom: -120px;
					rotate: -15deg;
					scale: -1 1;

					@include adaptiveValue('width', 308, 124);
					@include adaptiveValue('height', 329, 167);
				}

				& .bubble {
					rotate: 15deg;

					&__tail {
						top: calc(100% - 20px);
						right: auto;
						left: 10%;
						rotate: 90deg;

						// scale: -1 1;
					}
				}
			}
		}
	}

	&-plain {
		& .popup {
			&__close {
				& svg {
					fill: var(--black, #1b1c1e);
				}
			}

			&__datepicker {
				align-self: flex-start;
				display: flex;
				width: 100%;
			}

			&-body {
				padding-bottom: 20%;
				background-image: url('@img/bg/popupBg3.png');
				background-position: top right;
				background-repeat: no-repeat;

				&__buttons {
					flex-direction: column;
				}
			}

			&-head {
				position: absolute;
				right: 0;
				bottom: 0;
				display: flex;
				flex-direction: column-reverse;
				height: auto;
				padding-inline: 10px;
				padding-block-start: 3%;

				&__bubble {
					rotate: -7deg;
				}
			}
		}

		&[data-fls-popup='plain-messenger'] {
			& .popup {
				&-body {
					&__buttons {
						flex-direction: row;
					}
				}
			}
		}

		&[data-fls-popup='plain-form'] {
			& .popup {
				&-body {
					&__form {
						align-self: flex-start;
						width: 60%;
					}
				}
			}
		}
	}
}
