.promo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		display: grid;
		grid-template-rows: repeat(6, auto);
		grid-template-columns: repeat(12, 1fr);
		gap: 20px;
		background-image: url('@img/bg/promoLine.svg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: var(--violet1, #8753d1);
		border-radius: var(--border30, 30px);

		@include adaptiveValue('padding-block', 50, 16);
		@include adaptiveValue('padding-inline', 50, 16);
	}

	&-head {
		grid-column: 1 / span 7;
		grid-row: 1 / span 4;
		display: flex;
		flex-direction: column;
		gap: 35px;
		color: var(--white, #ffffff);
		pointer-events: none;

		@media (width <= 991px) {
			grid-column: 1 / -1;
			grid-row: 1 / span 2;
		}

		&__title {
			font-family: var(--second-family);

			@include adaptiveValue('font-size', 64, 40);

			font-weight: 800;
			line-height: 1;

			& span {
				display: flex;
				justify-content: center;
				align-items: center;
				width: fit-content;
				padding-block: 16px;
				padding-inline: 32px;
				background: var(--pink, #e9408f);
				border-radius: 100px;
				rotate: -6deg;
				margin-block-start: 25px;
			}
		}

		&__subtitle {
			@include adaptiveValue('font-size', 24, 16);

			font-weight: 600;
		}
	}

	&-social {
		grid-column: 8 / -1;
		grid-row: 1 / span 2;
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: fit-content;
		padding-block: 32px;
		padding-inline: 32px;
		background-color: var(--darkblue, #4f3ccd);
		border-radius: var(--border30, 30px);

		@media (width <= 991px) {
			grid-column: 1 / -1;
			grid-row: 3 / span 2;
		}

		&__title {
			@include adaptiveValue('font-size', 30, 20);

			font-weight: 600;
			line-height: 1.2;
			color: var(--white, #ffffff);
			pointer-events: none;

			& span {
				color: var(--yellow1, #f5bd50);
			}
		}

		& .social {
			&__item {
				@include adaptiveValue('width', 60, 34);
			}
		}
	}

	&-links {
		grid-column: 1 / span 7;
		grid-row: 6;
		align-self: flex-end;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px;

		@media (width <= 991px) {
			display: none;
		}

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-block: 9px;
			padding-inline: 25px;
			font-size: 20px;
			font-weight: 600;
			color: var(--violet1, #8753d1);
			background-color: var(--white, #ffffff);
			border-radius: 70px;
			transition: scale 0.3s ease 0s;

			html:not([data-fls-touch]) & {
				@media (any-hover: hover), (pointer: fine) {
					&:hover {
						scale: 0.95;
					}
				}
			}
		}
	}

	&-decor {
		grid-column: 8 / -1;
		grid-row: 3 / -1;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;
		margin-block-start: -65px;

		@media (width <= 991px) {
			grid-column: 1 / -1;
			grid-row: 6;
		}

		&__mask {
			display: flex;
			align-items: center;
			aspect-ratio: 205 / 116;
			min-height: 116px;
			background-image: url('@img/masks/text.png');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			rotate: -8deg;
		}

		&__text {
			display: flex;
			align-items: center;
			padding-block: 15px;
			padding-inline: 25px;
			font-size: 20px;
			font-weight: 600;
		}

		&__decor {
			display: flex;
			align-items: center;
			aspect-ratio: 275 / 335;
			min-height: 196px;
			rotate: 21deg;

			@media (width <= 991px) {
				margin-inline-start: -40px;
			}

			& img {
				width: 100%;
				height: 100%;
			}
		}
	}

	&_boyard {
		& .decor {
			position: absolute;
			z-index: 0;
		}

		& .decor_coin {
			left: -140px;
			width: 280px;
		}

		& .decor_key {
			right: -65px;
			width: to-rem(400);
			rotate: 30deg;
			scale: -1 1;
		}

		& .promo__container {
			z-index: 1;
		}
	}
}
