.team {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	// .team__content
	&__content {
		overflow: hidden;
		display: flex;
		align-items: center;
		gap: 20px;
		width: 100%;
	}

	&-card {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		border-radius: var(--border30);
		cursor: default;

		// .team-card__img
		&__img {
			flex: 1 1 40%;
			display: flex;
			width: 100%;
			max-height: 303px;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		// .team-card__content
		&__content {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			gap: 20px;

			@include adaptiveValue('padding', 30, 20);
		}

		// .team-card__name
		&__name {
			font-family: var(--second-family);
			font-weight: 800;
			line-height: 1;
			color: var(--white, #ffffff);

			@include adaptiveValue('font-size', 48, 22);
		}

		// .team-card__position
		&__position {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		// .team-card__profession
		&__profession {
			padding: 10px 20px;
			font-family: var(--second-family);
			font-weight: 800;
			background: var(--white, #ffffff);
			border-radius: 64px;
			rotate: -2deg;

			@include adaptiveValue('font-size', 24, 18);
		}

		// .team-card__age
		&__age {
			font-family: var(--second-family);
			font-weight: 800;
			color: var(--white, #ffffff);

			@include adaptiveValue('font-size', 24, 18);
		}

		// .team-card__list
		&__list {
			display: flex;
			flex-direction: column;
			gap: 14px;

			@include adaptiveValue('font-size', 24, 14);
		}

		@include adaptiveValue('max-width', 453, 300);
		@include bg-center;
	}

	& .decor {
		position: absolute;
		bottom: -350px;
		left: -160px;
		rotate: -60deg;

		@media (width < #{$mobile}px) {
			display: none;
		}
	}
}
