.article {
	display: flex;
	width: 100%;

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		@include adaptiveValue('gap', 65, 32);
	}

	&__decor {
		position: absolute;
		top: -8%;
		right: 10%;
		aspect-ratio: 252 / 269;
		rotate: 15deg;

		@media (width < 991px) {
			display: none;
		}
	}

	&-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__img {
			overflow: hidden;
			width: 100%;
			height: 100%;
			border-radius: var(--border30);

			& img {
				border-radius: var(--border30);
			}
		}

		&__text {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
			max-width: 740px;
			font-size: 20px;
			font-weight: 400;
			line-height: 1.6;

			& .block__content {
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
		}

		@include adaptiveValue('gap', 65, 32);
	}
}
