.people {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-block: 10px;

	&__img {
		overflow: hidden;
		rotate: 15deg;

		@include adaptiveValue('width', 301, 170);
		@include adaptiveValue('height', 322, 208);

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	& .bubble {
		rotate: -10deg;
	}
}
