<main class="page page_prices">

	<include src="@components/custom/section/promo/promo.html">
	</include>

	<include src="@components/custom/section/notice/notice.html">
	</include>

	<include src="@components/custom/section/price/price.html">
	</include>

	<include src="@components/custom/section/quiz/quiz.html">
	</include>

	<include src="@components/custom/section/dream/dream.html">
	</include>

	<include
		src="@components/custom/section/organization/organization.html">
	</include>

	<include src="@components/custom/section/survey/survey.html">
	</include>

	<include src="@components/custom/section/moments/moments.html">
	</include>

	<include src="@components/custom/section/timer/timer.html">
	</include>

	<include src="@components/custom/section/example/example.html">
	</include>

	<include src="@components/custom/section/scenario/scenario.html">
	</include>

	<include src="@components/custom/section/holiday/holiday.html">
	</include>

	<include src="@components/custom/section/place/place.html">
	</include>

	<include src="@components/custom/section/team/team.html"></include>

	<include src="@components/custom/section/review/review.html">
	</include>

	<include src="@components/custom/section/recall/recall.html">
	</include>

	<include src="@components/custom/section/plain/plain.html">
	</include>

	<include src="@components/custom/section/faq/faq.html"></include>

	<include src="@components/custom/section/banner/banner.html">
	</include>
</main>
