body {
	.--fullpage-init & {
		// Щоб вимкнути оновлення сторінки свайпом на телефоні
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

// Оболонка секцій
[data-fls-fullpage] {
	min-height: 100svh;

	.--fullpage-init & {
		position: relative;

		// Для того щоб секції не перекривали буллети
		z-index: 1;
		overflow: hidden;

		// Відносно чого позиціонуються секції
		touch-action: none;
	}
}

// Секція
[data-fls-fullpage-section] {
	.--fullpage-switching & {
		touch-action: none;
	}

	.--fullpage-init & {
		position: absolute;
		inset: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
	}

	// Модифікації
	.--fullpage-init .slider-mode &,
	.--fullpage-init .cards-mode & {
		transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
	}

	.--fullpage-init .fade-mode & {
		transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
	}
}

// Оболонка буллетів
.--fullpage-bullets {
	position: fixed;
	z-index: 2;
	top: 50%;
	right: to-rem(40);
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	gap: to-rem(10);
	max-height: 100%;
	transform: translate(0, -50%);

	@media (max-width: $pc) {
		right: to-rem(20);
	}

	@media (max-width: $mobileSmall) {
		top: auto;
		right: 50%;
		bottom: to-rem(20);
		flex-direction: row;
		transform: translate(50%, 0);
	}

	// Булет
	& .--fullpage-bullet {
		flex: 0 0 to-rem(20);
		width: to-rem(20);
		height: to-rem(20);
		background-color: #100c46;
		border: to-rem(1) solid #ffffff;
		border-radius: to-rem(10);
		box-shadow: to-rem(0) to-rem(0) to-rem(3) #6257fe,
			0 0 to-rem(30) rgba(255, 255, 255, 0.8);
		transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
			background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
		opacity: 0.6;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
			}
		}
	}

	& .--fullpage-bullet-active {
		background-color: #6257fe;
		box-shadow: to-rem(5) to-rem(2) to-rem(3) #100c46,
			0 0 to-rem(30) rgba(255, 255, 255, 0.8);
		opacity: 1;
		transform: translate3d(to-rem(-5), to-rem(-2), 0);
	}
}
