<main  class="page page_article">

	<include src="@components/custom/section/promo/promo.html">
	</include>

	<include src="@components/custom/section/article/article.html">
	</include>

	<include src="@components/custom/section/blog/blog.html">
	</include>

	<include src="@components/custom/section/article/article.html">
	</include>

	<include src="@components/custom/section/scenario/scenario.html">
	</include>

	<include src="@components/custom/section/holiday/holiday.html">
	</include>

	<include src="@components/custom/section/place/place.html">
	</include>

	<include src="@components/custom/section/team/team.html"></include>

	<include src="@components/custom/section/review/review.html">
	</include>

	<include src="@components/custom/section/recall/recall.html">
	</include>

	<include src="@components/custom/section/plain/plain.html">
	</include>

	<include src="@components/custom/section/faq/faq.html"></include>

	<include src="@components/custom/section/banner/banner.html">
	</include>

</main>
