[data-fls-showmore] {
}

[data-fls-showmore-content] {
}

[data-fls-showmore-button] {
	width: fit-content;
	padding-block: 10px;
	font-weight: 600;
	color: var(--darkblue, #4f3ccd);

	span {
		&:last-child {
			display: none;
		}

		.--showmore-active & {
			display: none;

			&:last-child {
				display: block;
			}
		}
	}

	@include adaptiveValue('font-size', 24, 16);
}
