<div data-fls-slider
	class="slider-block swiper slider-block_autoplay">

	<div class="slider-block__wrapper swiper-wrapper">
		<!-- 1 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider9.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 2 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider10.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 3 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider11.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 4 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider12.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 1 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider9.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 2 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider10.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 3 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider11.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 4 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider12.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 1 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider9.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 2 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider10.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 3 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider11.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 4 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider12.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 1 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider9.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 2 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider10.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 3 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider11.png" alt="Image" width=''
				height=''>
		</div>
		<!-- 4 -->
		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider12.png" alt="Image" width=''
				height=''>
		</div>

	</div>

</div>
