<div data-fls-slider
	class="slider-block swiper slider-block__example">

	<div class="slider-block__wrapper swiper-wrapper">


		<!-- 1 -->
		<div class="slider-block__slide swiper-slide">

			<div data-fls-slider
				class="slider-block swiper slider-block__example-inner"
				data-slider-timer>

				<div class="slider-block__wrapper swiper-wrapper">

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								4 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>

					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								5 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								6 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider1.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								5 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								6 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider1.png" alt="Image">
						</div>
					</div>

				</div>

				<div class="slider-block__pagination swiper-pagination">
				</div>

				<!-- If we need navigation buttons -->
				<div class="slider-block__prev swiper-button-prev">
					<svg>
						<use xlink:href="__spritemap#sprite-arrow"></use>
					</svg>
				</div>

				<div class="slider-block__next swiper-button-next">
					<svg>
						<use xlink:href="__spritemap#sprite-arrow"></use>
					</svg>
				</div>

			</div>

		</div>

		<!-- 1 -->
		<div class="slider-block__slide swiper-slide">

			<div data-fls-slider
				class="slider-block swiper slider-block__example-inner"
				data-slider-timer>

				<div class="slider-block__wrapper swiper-wrapper">

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								4 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>

					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								5 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								6 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider1.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								5 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								6 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider1.png" alt="Image">
						</div>
					</div>

				</div>

				<div class="slider-block__pagination swiper-pagination">
				</div>

				<!-- If we need navigation buttons -->
				<div class="slider-block__prev swiper-button-prev">
					<svg>
						<use xlink:href="__spritemap#sprite-arrow"></use>
					</svg>
				</div>

				<div class="slider-block__next swiper-button-next">
					<svg>
						<use xlink:href="__spritemap#sprite-arrow"></use>
					</svg>
				</div>

			</div>

		</div>

		<!-- 1 -->
		<div class="slider-block__slide swiper-slide">

			<div data-fls-slider
				class="slider-block swiper slider-block__example-inner"
				data-slider-timer>

				<div class="slider-block__wrapper swiper-wrapper">

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								4 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>

					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								5 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								6 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider1.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								5 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								6 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider1.png" alt="Image">
						</div>
					</div>

				</div>

				<div class="slider-block__pagination swiper-pagination">
				</div>

				<!-- If we need navigation buttons -->
				<div class="slider-block__prev swiper-button-prev">
					<svg>
						<use xlink:href="__spritemap#sprite-arrow"></use>
					</svg>
				</div>

				<div class="slider-block__next swiper-button-next">
					<svg>
						<use xlink:href="__spritemap#sprite-arrow"></use>
					</svg>
				</div>

			</div>

		</div>

		<!-- 1 -->
		<div class="slider-block__slide swiper-slide">

			<div data-fls-slider
				class="slider-block swiper slider-block__example-inner"
				data-slider-timer>

				<div class="slider-block__wrapper swiper-wrapper">

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								4 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>

					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								5 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								6 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider1.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								5 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider34.png" alt="Image">
						</div>
					</div>

					<div class="slider-block__slide swiper-slide">
						<div class="slider-block__slide-head">
							<div class="slider-block__avatar">
								<img src="@img/sliders/avatar.png" alt="Image">
							</div>
							<div class="slider-block__message">
								6 Детский день рождения в Форт Боярд
							</div>

						</div>
						<div class="slider-block__img">
							<img src="@img/sliders/slider1.png" alt="Image">
						</div>
					</div>

				</div>

				<div class="slider-block__pagination swiper-pagination">
				</div>

				<!-- If we need navigation buttons -->
				<div class="slider-block__prev swiper-button-prev">
					<svg>
						<use xlink:href="__spritemap#sprite-arrow"></use>
					</svg>
				</div>

				<div class="slider-block__next swiper-button-next">
					<svg>
						<use xlink:href="__spritemap#sprite-arrow"></use>
					</svg>
				</div>

			</div>

		</div>

	</div>

</div>
