<div data-fls-slider class="slider-block swiper slider-block_simple">

	<div class="slider-block__wrapper swiper-wrapper">

		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider23.png" alt="Image">
		</div>

		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider24.png" alt="Image">
		</div>

		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider25.png" alt="Image">
		</div>

		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider12.png" alt="Image">
		</div>

		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider21.png" alt="Image">
		</div>

		<div class="slider-block__slide swiper-slide">
			<img src="@img/sliders/slider22.png" alt="Image">
		</div>

	</div>

</div>
