<div class="slider-block__wrap" data-change-background
	data-background-color='--yellow1, #f5bd50'
	data-background-img='@img/sliders/sliderBgYellow.png'>

	<div class="slider-block__title">
		<h3>Основа вашего праздника – и <br class='br br_mob'> один из
			трех сценариев</h3>
	</div>

	<div data-fls-slider class="slider-block swiper slider-block_three">

		<!-- If we need navigation buttons -->
		<div class="slider-block__prev swiper-button-prev">
			<svg>
				<use xlink:href="__spritemap#sprite-arrow"></use>
			</svg>
		</div>

		<div class="slider-block__next swiper-button-next">
			<svg>
				<use xlink:href="__spritemap#sprite-arrow"></use>
			</svg>
		</div>

		<div class="slider-block__wrapper swiper-wrapper">

			<div class="slider-block__slide swiper-slide">
				<h4 class="slider-block__text">Форт Боярд</h4>

				<div data-fls-slider
					class="slider-block swiper slider-block_inner">

					<div class="slider-block__wrapper swiper-wrapper">

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider1.png" alt="Image">
							</div>
						</div>

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider1.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider1.png" alt="Image">
							</div>
						</div>

					</div>

					<div class="slider-block__pagination swiper-pagination">
					</div>

					<!-- If we need navigation buttons -->
					<div class="slider-block__prev swiper-button-prev">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

					<div class="slider-block__next swiper-button-next">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

				</div>

			</div>

			<div class="slider-block__slide swiper-slide">
				<h4 class="slider-block__text">Гарри Поттер</h4>

				<div data-fls-slider
					class="slider-block swiper slider-block_inner">

					<div class="slider-block__wrapper swiper-wrapper">

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider2.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider2.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider2.png" alt="Image">
							</div>
						</div>


					</div>

					<div class="slider-block__pagination swiper-pagination">
					</div>

					<!-- If we need navigation buttons -->
					<div class="slider-block__prev swiper-button-prev">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>
					<div class="slider-block__next swiper-button-next">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

				</div>

			</div>

			<div class="slider-block__slide swiper-slide">
				<h4 class="slider-block__text">Джуманджи</h4>

				<div data-fls-slider
					class="slider-block swiper slider-block_inner">

					<div class="slider-block__wrapper swiper-wrapper">

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider3.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider3.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider3.png" alt="Image">
							</div>
						</div>

					</div>

					<div class="slider-block__pagination swiper-pagination">
					</div>

					<!-- If we need navigation buttons -->
					<div class="slider-block__prev swiper-button-prev">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>
					<div class="slider-block__next swiper-button-next">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

				</div>

			</div>

		</div>

	</div>

</div>

<div class="slider-block__wrap" data-change-background
	data-background-color='--red1, #ed5b47'
	data-background-img='@img/sliders/sliderBgRed.png'>

	<div class="slider-block__title">
		<h3>Ваш праздник будет проходить</h3>
	</div>

	<div data-fls-slider class="slider-block swiper slider-block_two">

		<!-- If we need navigation buttons -->
		<div class="slider-block__prev swiper-button-prev">
			<svg>
				<use xlink:href="__spritemap#sprite-arrow"></use>
			</svg>
		</div>

		<div class="slider-block__next swiper-button-next">
			<svg>
				<use xlink:href="__spritemap#sprite-arrow"></use>
			</svg>
		</div>

		<div class="slider-block__wrapper swiper-wrapper">

			<div class="slider-block__slide swiper-slide">
				<h4 class="slider-block__text slider-block__text_small">
					В крупнейших игровых залах Москвы <br> с профессиональным
					звуком
					и театральным светом
				</h4>

				<div data-fls-slider
					class="slider-block swiper slider-block_inner">

					<div class="slider-block__wrapper swiper-wrapper">

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider4.png" alt="Image">
							</div>
						</div>

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider5.png" alt="Image">
							</div>
						</div>

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider5.png" alt="Image">
							</div>
						</div>

					</div>

					<div class="slider-block__pagination swiper-pagination">
					</div>

					<!-- If we need navigation buttons -->
					<div class="slider-block__prev swiper-button-prev">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

					<div class="slider-block__next swiper-button-next">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

				</div>

			</div>

			<div class="slider-block__slide swiper-slide">
				<h4 class="slider-block__text slider-block__text_small">
					И комфортных банкетные залах с полноценным меню, <br>
					удобной
					мебелью и персоналом
				</h4>

				<div data-fls-slider
					class="slider-block swiper slider-block_inner">

					<div class="slider-block__wrapper swiper-wrapper">

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider5.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider5.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider5.png" alt="Image">
							</div>
						</div>

					</div>

					<div class="slider-block__pagination swiper-pagination">
					</div>

					<!-- If we need navigation buttons -->
					<div class="slider-block__prev swiper-button-prev">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>
					<div class="slider-block__next swiper-button-next">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

				</div>

			</div>

		</div>

	</div>

</div>

<div class="slider-block__wrap" data-change-background
	data-background-color='--green1, #649f36'
	data-background-img='@img/sliders/sliderBgGreen.png'>

	<div class="slider-block__title">
		<h3>
			Праздник <span>от 2.5 часов до ∞</span>
		</h3>
	</div>

	<div data-fls-slider class="slider-block swiper slider-block_three">

		<!-- If we need navigation buttons -->
		<div class="slider-block__prev swiper-button-prev">
			<svg>
				<use xlink:href="__spritemap#sprite-arrow"></use>
			</svg>
		</div>

		<div class="slider-block__next swiper-button-next">
			<svg>
				<use xlink:href="__spritemap#sprite-arrow"></use>
			</svg>
		</div>

		<div class="slider-block__wrapper swiper-wrapper">

			<div class="slider-block__slide swiper-slide">
				<h4 class="slider-block__text slider-block__text_small">
					Готовые пакеты на любой <br> торжественный случай</h4>

				<div data-fls-slider
					class="slider-block swiper slider-block_inner">

					<div class="slider-block__wrapper swiper-wrapper">

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider6.png" alt="Image">
							</div>
						</div>

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider6.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider6.png" alt="Image">
							</div>
						</div>

					</div>

					<div class="slider-block__pagination swiper-pagination">
					</div>

					<!-- If we need navigation buttons -->
					<div class="slider-block__prev swiper-button-prev">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

					<div class="slider-block__next swiper-button-next">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

				</div>

			</div>

			<div class="slider-block__slide swiper-slide">
				<h4 class="slider-block__text slider-block__text_small">
					Дополнительные шоу <br> и
					развлечения для детей и взрослых</h4>

				<div data-fls-slider
					class="slider-block swiper slider-block_inner">

					<div class="slider-block__wrapper swiper-wrapper">

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider7.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider7.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider7.png" alt="Image">
							</div>
						</div>


					</div>

					<div class="slider-block__pagination swiper-pagination">
					</div>

					<!-- If we need navigation buttons -->
					<div class="slider-block__prev swiper-button-prev">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>
					<div class="slider-block__next swiper-button-next">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

				</div>

			</div>

			<div class="slider-block__slide swiper-slide">
				<h4 class="slider-block__text slider-block__text_small">
					Премиальные предложения
				</h4>

				<div data-fls-slider
					class="slider-block swiper slider-block_inner">

					<div class="slider-block__wrapper swiper-wrapper">

						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider8.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider8.png" alt="Image">
							</div>
						</div>
						<div class="slider-block__slide swiper-slide">

							<div class="slider-block__img">
								<img src="@img/sliders/slider8.png" alt="Image">
							</div>
						</div>

					</div>

					<div class="slider-block__pagination swiper-pagination">
					</div>

					<!-- If we need navigation buttons -->
					<div class="slider-block__prev swiper-button-prev">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>
					<div class="slider-block__next swiper-button-next">
						<svg>
							<use xlink:href="__spritemap#sprite-arrow"></use>
						</svg>
					</div>

				</div>

			</div>

		</div>

	</div>

</div>
