.involve {
	display: flex;
	width: 100%;

	// .involve__content
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 40px;
		border-radius: var(--border30, 30px);

		@include adaptiveValue('padding-block', 60, 30);
		@include adaptiveValue('padding-inline', 60, 20);

		// .involve-card__title
		&__title {
			font-family: var(--second-family);

			@include adaptiveValue('font-size', 40, 24);

			font-weight: 800;
			color: var(--white, #ffffff);
		}

		// .involve-card__list
		&__list {
			@include adaptiveValue('font-size', 20, 13);

			font-weight: 600;
			color: var(--white, #ffffff);

			& ul {
				display: flex;
				flex-direction: column;
				gap: 20px;

				& li {
					display: flex;
					gap: 15px;
				}
			}
		}

		&__fail {
			color: var(--greylight, #f5f5f5);
			opacity: 0.5;

			& .involve-card__icon {
				& svg {
					fill: var(--greylight, #f5f5f5);
				}
			}
		}

		&__icon {
			flex-shrink: 0;
			display: flex;
			width: 20px;
			height: 20px;

			& svg {
				width: 100%;
				height: 100%;
			}
		}

		// .involve-card__button
		&__button {
			& .button {
				font-family: var(--second-family);

				@include adaptiveValue('font-size', 32, 16);

				font-weight: 800;
				line-height: 1.2;

				@media (width < #{$mobileSmall}px) {
					font-weight: 600;
				}
			}
		}

		&.standard {
			background-color: var(--red2, #fa7766);
		}

		&.premium {
			background-color: var(--blue2, #94cff0);
		}

		&.optimal {
			background-color: var(--green2, #7daf55);
		}
	}

	& .decor {
		position: absolute;
		top: -155px;

		@include adaptiveValue('top', -155, 40);
		@include adaptiveValue('right', 70, 10);

		aspect-ratio: 252 / 269;
		rotate: 15deg;
	}
}
