<main  class="page page_cooperation">

	<include src="@components/custom/section/promo/promo.html">
	</include>

	<include src="@components/custom/section/offer/offer.html">
	</include>

	<include src="@components/custom/section/example/exampleFull.html">
	</include>

	<include src="@components/custom/section/adt/adt.html"></include>

	<include src="@components/custom/section/review/review.html">
	</include>

	<include src="@components/custom/section/recall/recall.html">
	</include>

	<include src="@components/custom/section/example/example.html">
	</include>

	<include src="@components/custom/section/holiday/holiday.html">
	</include>

	<include src="@components/custom/section/team/team.html"></include>

	<include src="@components/custom/section/faq/faq.html"></include>

	<include src="@components/custom/section/banner/banner.html">
	</include>

</main>
