// Шаблони (заготівлі)
// @extend %ім'я шаблону;
// Сніппет (SCSS): ex

// Стилі для чуйних зображеннь (IBG)
%ibg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// Лічильник для списку
%listCounter {
	list-style-type: none;
	counter-reset: item;

	li {
		position: relative;

		&::before {
			content: counter(item);
			position: absolute;
			top: 0;
			left: 0;
			counter-increment: item;
		}
	}
}

// Адаптивне відео
%responsiveVideo {
	video,
	iframe,
	object,
	embed {
		aspect-ratio: 16 / 9;
	}
}

// Відео як фон
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		z-index: -100;
		top: 50%;
		left: 50%;
		width: auto;
		min-width: 100%;
		height: auto;
		min-height: 100%;
		object-fit: cover;
		transform: translateX(-50%) translateY(-50%);
	}
}

// Сірий фільтр
%grayfilter {
	filter: grayscale(1);
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			filter: grayscale(0);
		}
	}
}

// Скасувати виділення
%noselect {
	user-select: none;
}

// Дзеркальне відображення
%mirror {
	transform: scale(-1, 1);
}

// Плавний скролл
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}

// Сховати скролл
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
