@keyframes fade-up {
	0% {
		opacity: 0;
		translate: 0 20%;
	}

	100% {
		opacity: 1;
		translate: 0 0%;
	}
}

@keyframes fade-in {
	from {
		visibility: hidden;
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-bottom {
	0% {
		opacity: 0;
		transform: translateY(0);
	}

	100% {
		opacity: 1;
		transform: translateY(100%);
	}
}
