.price {
	display: flex;
	width: 100%;

	&-card {
		$gap: 25px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: $gap;
		width: 100%;

		&__label {
			flex-grow: 1;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			font-weight: 600;
			line-height: 1.15;
			text-align: center;
			border: 3px solid var(--black, #1b1c1e);
			border-radius: 70px;
			cursor: default;

			@include adaptiveValue('padding-block', 24, 20);
			@include adaptiveValue('padding-inline', 48, 32);
			@include adaptiveValue('font-size', 32, 20);
		}

		&__body {
			overflow: hidden;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
			width: 100%;
			padding-block: 0 47px;
			background: var(--greylight, #f5f5f5);
			border-radius: 30px;
		}

		&__cost {
			position: absolute;
			top: calc(100% + $gap - 5px);
			display: flex;
			justify-content: center;
			align-items: center;
			padding-block: 16px;
			padding-inline: 48px;

			@include adaptiveValue('font-size', 32, 20);

			font-weight: 700;
			color: var(--white, #ffffff);
			background: var(--pink, #e9408f);
			border-radius: 100px;
			rotate: -3deg;
		}

		&__img {
			display: flex;
			aspect-ratio: 453/ 350;
			width: 100%;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
