.social {
	display: flex;

	// .social__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	// .social__item
	&__item {
		overflow: hidden;
		display: flex;
		aspect-ratio: 1;
		width: 60px;
		border-radius: 8px;
		transition: scale 0.3s ease 0s;

		&.max {
			& .social__icon {
				background: transparent;
			}
		}

		html:not([data-fls-touch]) & {
			@media (any-hover: hover), (pointer: fine) {
				&:hover {
					scale: 0.95;
				}
			}
		}
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	// .social__icon
	&__icon {
		display: flex;
		width: 100%;
		height: 100%;
		background-color: var(--white, #ffffff);
	}
}
