.organization {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: var(--border30, 30px);

	&-head {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		width: 100%;

		// .organization-head__title
		&__title {
			font-family: var(--second-family);
			font-weight: 800;
			line-height: 1;
			color: var(--white, #ffffff);

			@include adaptiveValue('font-size', 48, 30);
		}

		// .organization-head__button
		&__button {
			flex: 1 2 auto;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			& .button {
				@media (width < #{$mobileSmall}px) {
					width: 100%;
				}
			}
		}
	}

	&-slider {
		position: relative;

		& .slider-block {
			&__prev {
				@include adaptiveValue('left', -30, -20);
			}

			&__next {
				@include adaptiveValue('right', -30, -20);
			}
		}
	}

	@include adaptiveValue('padding', 50, 30);
}
