.clock {
	$delta: 1.39;

	display: flex;
	width: 100%;
	height: 100%;

	&__content {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	// .clock__item
	&__item {
		display: flex;

		@include adaptiveValue('font-size', 48, 30);

		height: fit-content;
		font-weight: 600;
		line-height: $delta;
		text-align: center;
		color: var(--white, #ffffff);
		cursor: default;
	}

	&__icon {
		position: absolute;
		z-index: -1;
		top: 46%;
		left: 50%;
		width: 100%;
		height: 100%;
		color: var(--tiffany1, #7cbaba);
		translate: -50% -50%;
		pointer-events: none;
	}
}
