<main class="page page_scenarios">

	<include src="@components/custom/section/promo/promo.html">
	</include>

	<include src="@components/custom/section/notice/notice.html">
	</include>

	<include src="@components/custom/section/quiz/quiz.html">
	</include>

	<include src="@components/custom/section/scenario/scenario.html">
	</include>

	<include src="@components/custom/section/example/exampleFull.html">
	</include>

	<include src="@components/custom/section/adt/adt.html"></include>

	<include
		src="@components/custom/section/organization/organization.html">
	</include>

	<include src="@components/custom/section/dream/dream.html">
	</include>

	<include src="@components/custom/section/survey/survey.html">
	</include>

	<include src="@components/custom/section/moments/moments.html">
	</include>

	<include src="@components/custom/section/timer/timer.html">
	</include>

	<include src="@components/custom/section/example/example.html">
	</include>

	<include src="@components/custom/section/holiday/holiday.html">
	</include>

	<section data-fls-section class="section" id='organization'>
		<div class="section__container">

			<div class="section-head">
				<div class="section-head__title">
					<h2>Какие праздники мы организуем</h2>
				</div>
				<div class="section-head__subtitle">
					<p>Подзаголовок</p>
				</div>
			</div>

			<div class="section-content">


				<!-- content -->
				<div data-fls-organization class="organization"
					data-change-background
					data-background-color="--violet1, #8753d1"
					data-background-img="@img/sliders/sliderBgWhiteSimple.png">

					<div class="organization-head">
						<div class="organization-head__title">
							<h3>Праздники для взрослых</h3>
						</div>
						<div class="organization-head__button">
							<button data-fls-button type="button"
								class="button button_white">
								Выбрать праздник
							</button>
						</div>
					</div>

					<div class="organization-slider" data-slider-parent>
						<include src="@components/layout/slider/simple2.html">
						</include>

						<!-- If we need navigation buttons -->
						<button type='button'
							class="slider-block__prev swiper-button-prev">
							<svg>
								<use xlink:href="__spritemap#sprite-arrow"></use>
							</svg>
						</button>

						<button type='button'
							class="slider-block__next swiper-button-next">
							<svg>
								<use xlink:href="__spritemap#sprite-arrow"></use>
							</svg>
						</button>
					</div>

				</div>

				<!-- content -->
				<div data-fls-organization class="organization"
					data-change-background
					data-background-color="--tiffany1, #7cbaba"
					data-background-img="@img/sliders/sliderBgWhiteSimple.png">

					<div class="organization-head">
						<div class="organization-head__title">
							<h3>Праздники для взрослых</h3>
						</div>
						<div class="organization-head__button">
							<button data-fls-button type="button"
								class="button button_white">
								Выбрать праздник
							</button>
						</div>
					</div>

					<div class="organization-slider" data-slider-parent>
						<include src="@components/layout/slider/simple2.html">
						</include>

						<!-- If we need navigation buttons -->
						<button type='button'
							class="slider-block__prev swiper-button-prev">
							<svg>
								<use xlink:href="__spritemap#sprite-arrow"></use>
							</svg>
						</button>

						<button type='button'
							class="slider-block__next swiper-button-next">
							<svg>
								<use xlink:href="__spritemap#sprite-arrow"></use>
							</svg>
						</button>
					</div>

				</div>

			</div>

		</div>
	</section>

	<include src="@components/custom/section/team/team.html"></include>

	<include src="@components/custom/section/review/review.html">
	</include>

	<include src="@components/custom/section/recall/recall.html">
	</include>

	<include src="@components/custom/section/plain/plain.html">
	</include>

	<include src="@components/custom/section/faq/faq.html"></include>

	<include src="@components/custom/section/banner/banner.html">
	</include>
</main>
