.point {
	display: flex;
	width: 100%;

	&__content {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 40px;
		width: 100%;
		background-image: url('@img/bg/partnershipBg.png');
		background-color: var(--green1, #649f36);
		border-radius: var(--border30, 30px);

		@include adaptiveValue('padding', 50, 30);
		@include bg-center;

		@media (width < #{$mobile}px) {
			flex-direction: column;
		}
	}

	&-text {
		display: flex;
		flex-direction: column;
		max-width: 700px;

		&__title {
			font-family: var(--second-family);
			font-weight: 800;
			line-height: 1;
			color: var(--white, #ffffff);

			@include adaptiveValue('font-size', 48, 30);
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 20px;

			& ul {
				display: flex;
				flex-direction: column;
				gap: 10px;
				padding-inline-start: 27px;
				list-style-position: inside;
				cursor: default;

				& li {
					padding-inline-start: 8px;
					font-weight: 600;
					color: var(--white, #ffffff);

					&::marker,
					&::-webkit-details-marker {
						color: var(--white, #ffffff);
					}

					&::marker {
						content: '\f105';
						font-family: 'iconfont', sans-serif;
						font-weight: 100;
					}
				}

				@include adaptiveValue('font-size', 20, 16);
			}
		}

		@include adaptiveValue('gap', 80, 30);
	}

	&-img {
		overflow: hidden;
		aspect-ratio: 375 / 812;
		max-width: 375px;
		border: solid var(--black, #1b1c1e);
		border-width: 10px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include adaptiveValue('border-radius', 50, 25);
	}
}
