.faq {
	position: relative;
	display: flex;
	width: 100%;

	&-slider {
		display: flex;
		flex-direction: column;
		width: 100%;

		&__control {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& .slider-block__prev,
			& .slider-block__next {
				position: static;
				display: none;
				translate: 0 0;

				@media (width < #{$mobile}px) {
					display: flex;
				}
			}

			& .slider-block__prev {
				border-radius: 0 20px;
			}

			& .slider-block__next {
				border-radius: 20px 0;
			}

			& .slider-block__pagination {
				position: static;
				display: none;
				translate: 0 0;

				@media (width < #{$mobile}px) {
					display: flex;
					align-items: center;
					width: fit-content;

					& .swiper-pagination-bullet {
						aspect-ratio: 1 / 1;
						width: 6px;
						height: 6px;
						background-color: var(--violet1, #8753d1);
						border-radius: 50%;
						transition: all 0.3s ease 0s;

						&-active {
							width: 10px;
							height: 10px;
						}
					}
				}
			}

			@media (width < #{$mobile}px) {
				gap: 15px;
			}
		}

		& .slider-block__wrapper {
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
			gap: 20px;

			@media (width < #{$mobile}px) {
				display: flex;
				gap: 0;
			}
		}

		@media (width < #{$mobile}px) {
			gap: 15px;
		}
	}

	&-card {
		flex-grow: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		width: 100%;
		background: var(--greylight, #f5f5f5);
		border-radius: var(--border30);
		cursor: default;

		&__head {
			flex: 0 0 254px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			background-image: url('@img/faq/faqBgVio.png');
			background-position: right top;
			background-size: contain;
			background-repeat: no-repeat;

			& .faq-card__text {
				display: flex;
				align-items: flex-end;
				color: var(--white, #ffffff);

				@include adaptiveValue('font-size', 24, 20);
			}

			&_violet {
				background-color: var(--violet1, #8753d1);
			}

			&_green {
				background-color: var(--green1, #2a9d8f);
			}

			&_pink {
				background-color: var(--pink, #e9408f);
			}

			&_red {
				background-color: var(--red, #e9408f);
			}

			&_tiffany {
				background-color: var(--tiffany, #2a9d8f);
			}

			&_yellow {
				background-color: var(--yellow, #f1c232);
			}

			@include adaptiveValue('padding', 32, 20);
		}

		&__label {
			width: fit-content;
			padding-block: 16px;
			padding-inline: 32px;
			font-weight: 600;
			background: var(--white, #ffffff);
			border-radius: 30px;

			@include adaptiveValue('font-size', 20, 16);
		}

		&__text {
			flex: 1 1 auto;
			font-family: var(--second-family);
			font-size: 20px;
			font-weight: 600;
		}

		&__body {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 24px;

			& .faq-card__text {
				flex: 1 1 auto;
			}

			@include adaptiveValue('padding', 32, 20);
		}
	}

	&_boyard {
		& .decor {
			position: absolute;
			top: -350px;
			left: -150px;
			rotate: -45deg;

			@media (width < #{$tablet}px) {
				display: none;
			}
		}
	}
}
