// Переменные

// Стили для блока provision
.provision {
	position: relative;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;

	&__content {
		display: grid;
		grid-template-rows: 1fr;
		gap: 30px;
		width: 100%;

		&:has(.scenario-card) {
			grid-template-columns: repeat(auto-fit, minmax(min(479px, 100%), 1fr));
		}

		&:has(.price-card) {
			grid-template-columns: repeat(auto-fit, minmax(min(355px, 100%), 1fr));
		}
	}

	&-item {
		display: flex;
		width: 100%;
		animation: fade-in 0.3s forwards 0s ease;

		// Скрытые элементы
		&[hidden] {
			display: none;
			visibility: hidden;
			opacity: 0;
		}
	}

	&__button {
		border: 2px solid var(--black, #1b1c1e);

		// Скрытое состояние
		&[hidden] {
			display: none;
			visibility: hidden;
			opacity: 0;
		}
	}

	&__promo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&:has(.button) {
			justify-content: space-between;
		}

		& .people {
			@include adaptiveValue('margin-block-start', 80, 20);

			justify-content: center;
			width: 100%;
		}

		@media (width < #{$mobile}px) {
			flex: 1 1 auto;
			flex-direction: column-reverse;
			gap: 20px;
			margin-block-start: 20px;
		}
	}
}
