.partnership {
	display: flex;
	width: 100%;
	// .partnership__content
	&__content {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(10, 1fr);
		width: 100%;
		background-image: url('@img/bg/partnershipBg.png');
		background-color: var(--darkblue, #4f3ccd);
		border-radius: var(--border30, 30px);

		@include adaptiveValue('row-gap', 120, 50);
		@include adaptiveValue('padding', 50, 30);
		@include bg-center;
	}

	// .partnership__title
	&__title {
		grid-column: 1 / 7;
		grid-row: 1;
		font-weight: 800;
		line-height: 1;
		color: var(--white, #ffffff);
		cursor: default;

		@include adaptiveValue('font-size', 48, 30);

		@media (width <= #{$tablet}px) {
			grid-column: 1 / -1;
			grid-row: 1;
		}
	}

	&-contacts {
		grid-column: 1 / 5;
		grid-row: 2;
		display: flex;
		flex-direction: column;
		// .partnership-contacts__item
		&__item {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		// .partnership-contacts__label
		&__label {
			font-weight: 600;
			color: var(--greylight, #f5f5f5);
			cursor: default;

			@include adaptiveValue('font-size', 20, 16);
		}

		// .partnership-contacts__link
		&__link {
			font-family: var(--second-family);
			font-weight: 800;
			line-height: 1;
			color: var(--white, #ffffff);

			& > a {
				transition: color 0.3s ease 0s;

				html:not([data-fls-touch]) & {
					@media (any-hover: hover), (pointer: fine) {
						&:hover {
							color: var(--pink, #e9408f);
						}
					}
				}
			}

			@include adaptiveValue('font-size', 30, 20);
		}

		@include adaptiveValue('gap', 50, 30);

		@media (width <= #{$tablet}px) {
			grid-column: 1 / -1;
			grid-row: 2;
		}
	}

	&-people {
		grid-column: 5 / -1;
		grid-row: 1 / 3;
		display: flex;
		justify-content: center;
		align-items: center;

		& .people {
			align-self: center;

			&__img {
				@media (width <= #{$mobileSmall}px) {
					align-self: flex-end;
				}
			}

			& .bubble {
				&__text {
					display: flex;
					flex-direction: column;
					gap: 15px;

					& p {
						font-weight: 700;
					}

					& ul {
						list-style: disc;
						list-style-position: inside;
						padding-inline-start: 30px;

						& li {
							font-weight: 600;
							list-style: disc;
							// list-style-position: inside;
						}
					}
				}

				&__tail {
					@media (width <= #{$mobileSmall}px) {
						top: calc(100% - 10px);
						right: 35%;
						rotate: 90deg;
					}
				}
			}

			@media (width <= #{$mobileSmall}px) {
				flex-direction: column;
			}
		}

		@media (width <= #{$tablet}px) {
			grid-column: 1 / -1;
			grid-row: 3;
		}
	}
}
