/* Головний блок */
.fls-preloader {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: all 0.8s 0.3s;
	pointer-events: none;
}

/* Блок з елементами */
.fls-preloader__body {
	display: flex;
	flex-direction: column;
	max-width: 31.25rem;
	padding: 0.93rem;
}

/* Блок з лічильником */
.fls-preloader__counter {
	font-size: 10rem;
}

/* Прогресбар */
.fls-preloader__line {
}

/* Лінія прогресбару */
.fls-preloader__line span {
	display: inline-block;
	height: 0.8rem;
	background-color: #7a956b;
	transition: width 0.2s ease;
}

[data-fls-preloader-loaded] .fls-preloader {
	visibility: hidden;
	opacity: 0;
}
