<div class="header__menu menu">
	<button type="button" data-fls-menu
		class="menu__icon icon-menu"><span></span></button>
	<nav class="menu__body" data-fls-menu-drop>
		<ul class="menu__list">
			<li class="menu__item menu-item">
				<div class="menu-item__wrap">
					<a href="#" class="menu__link menu__link">
						Праздники <br class='br br_mob'> для детей
					</a>
					<span class='menu__control'>
						<svg>
							<use xlink:href="__spritemap#sprite-arrowDown"></use>
						</svg>
					</span>
				</div>

				<ul class="menu-item__list">
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">День рождения</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Корпоратив</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Тимбилдинг</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Квест для взрослых</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Свадьба</a>
					</li>
				</ul>

			</li>

			<li class="menu__item menu-item">
				<div class="menu-item__wrap">
					<a href="#" class="menu__link menu__link">
						Праздники <br class='br br_mob'> для взрослых
					</a>
					<span class='menu__control'>
						<svg>
							<use xlink:href="__spritemap#sprite-arrowDown"></use>
						</svg>
					</span>
				</div>

				<ul class="menu-item__list">
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">День рождения</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Корпоратив</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Тимбилдинг</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Квест для взрослых</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Свадьба</a>
					</li>
				</ul>
			</li>

			<li class="menu__item menu-item">
				<div class="menu-item__wrap">
					<a href="#" class="menu__link menu__link">
						Сценарии <br class='br br_mob'> и шоу
					</a>
					<span class='menu__control'>
						<svg>
							<use xlink:href="__spritemap#sprite-arrowDown"></use>
						</svg>
					</span>
				</div>

				<ul class="menu-item__list">
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">День рождения</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Корпоратив</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Тимбилдинг</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Квест для взрослых</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Свадьба</a>
					</li>
				</ul>
			</li>

			<li class="menu__item menu-item">
				<div class="menu-item__wrap">
					<a href="#" class="menu__link menu__link">
						Где можно <br class='br br_mob'> провести праздник
					</a>
					<span class='menu__control'>
						<svg>
							<use xlink:href="__spritemap#sprite-arrowDown"></use>
						</svg>
					</span>
				</div>

				<ul class="menu-item__list">
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">День рождения</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Корпоратив</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Тимбилдинг</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Квест для взрослых</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Свадьба</a>
					</li>
				</ul>
			</li>

			<li class="menu__item menu-item">
				<div class="menu-item__wrap">
					<a href="#" class="menu__link menu__link">
						О нас
					</a>
					<span class='menu__control'>
						<svg>
							<use xlink:href="__spritemap#sprite-arrowDown"></use>
						</svg>
					</span>
				</div>

				<ul class="menu-item__list">
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">О нас</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Цены</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Сотрудничество</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Отзывы</a>
					</li>
					<li class="menu-item__item">
						<a href="#" class="menu-item__link">Контакты</a>
					</li>
				</ul>
			</li>
		</ul>

		<div class="menu-mobile__inner">
			<include src="@components/custom/elements/social/social.html">
			</include>
		</div>
	</nav>
</div>
