.links {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 100%;

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 20px;
		width: 100%;
	}

	&__item {
		font-weight: 800;
		line-height: 1;
		text-align: center;
		color: var(--black, #1b1c1e);
		background-color: var(--white, #ffffff);
		border: 3.5px solid var(--black, #1b1c1e);
		border-radius: 100px;
		transition: all 0.3s ease 0s;

		& a {
			@include adaptiveValue('padding-block', 24, 16);
			@include adaptiveValue('padding-inline', 48, 24);
		}

		html:not([data-fls-touch]) & {
			@media (any-hover: hover), (pointer: fine) {
				&:hover {
					color: var(--white, #ffffff);
					background-color: var(--pink, #e9408f);
					border-color: var(--pink, #e9408f);
				}
			}
		}

		&.active {
			color: var(--white, #ffffff);
			background-color: var(--pink, #e9408f);
			border-color: var(--pink, #e9408f);
		}

		@include adaptiveValue('font-size', 40, 20);
	}
}
