.fail {
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		width: 100%;

		@include adaptiveValue('padding-block', 120, 90);

		border-radius: var(--border30, 30px);

		@include bg-center;

		@media (width <= #{$mobile}px) {
			gap: 50px;
		}
	}

	&-title {
		z-index: 1;
		font-family: var(--second-family);

		@include adaptiveValue('font-size', 150, 100);

		font-weight: 800;
		line-height: 1;
		text-align: center;
		color: var(--white, #ffffff);
		cursor: default;
		user-select: none;
	}

	&-people {
		z-index: 0;
		margin-block: -50px;
		scale: 1.3;

		@media (width <= #{$mobile}px) {
			margin-block: 0;
		}

		& .people {
			& .bubble {
				&__tail {
					@media (width <= #{$mobile}px) {
						top: calc(100% - 5px);
						right: unset;
						left: 25%;
						width: 70px;
						rotate: 90deg;
						scale: 1 -1;
					}
				}
			}

			&__img {
				@media (width <= #{$mobile}px) {
					align-self: self-end;
					margin-inline-end: -30px;
				}
			}

			@media (width <= #{$mobile}px) {
				flex-direction: column;
			}
		}
	}

	&-button {
		z-index: 1;
	}
}
