<footer data-fls-footer class="footer">
	<div class="footer__container">

		<div class="footer__content" data-change-background
			data-background-color="--darkblue, #4f3ccd"
			data-background-img="@img/bg/footerBg.png">
			<div class="footer-top">
				<include src="@components/layout/footer/footer-top.html">
				</include>
			</div>

			<div class="footer-center">
				<include src="@components/layout/footer/footer-center.html">
				</include>
			</div>

			<div class="footer-bottom">
				<div class="footer-bottom__copy">
					© 2025. Все права защищены.
				</div>

				<div class="footer-bottom__link">
					<a href="https://yar-studio.com/" target="_blank">Разработка
						студия ЯР</a>
				</div>
				<div class="footer-bottom__policy">
					<a href="#" target="_blank">Политика конфиденциальности</a>
				</div>
			</div>
		</div>

	</div>
</footer>
