<nav class="footer-center__content" data-fls-spollers='991'>
	<!-- 1 -->
	<details class="spoiler__body">

		<summary class="spoiler__title">
			<h5>
				<a href="#">Праздники для детей</a>
			</h5>
			<span class="spoiler__icon">
				<svg>
					<use xlink:href="__spritemap#sprite-arrowDown"></use>
				</svg>
			</span>
		</summary>

		<ul class="spoiler__list">
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">День рождения</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Выпускной</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Новый год</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Квест для класса</a>
			</li>

		</ul>

	</details>
	<!-- 2 -->
	<details class="spoiler__body">
		<summary class="spoiler__title">
			<h5>
				<a href="#">Праздники для взрослых</a>
			</h5>
			<span class="spoiler__icon">
				<svg>
					<use xlink:href="__spritemap#sprite-arrowDown"></use>
				</svg>
			</span>
		</summary>

		<ul class="spoiler__list">
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">День рождения</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Корпоратив</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Тимбилдинг</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Квест для взрослых</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Свадьба</a>
			</li>

		</ul>

	</details>
	<!-- 3 -->
	<details class="spoiler__body spoiler__body_long">
		<summary class="spoiler__title">
			<h5>
				<a href="#">Сценарии и шоу</a>
			</h5>
			<span class="spoiler__icon">
				<svg>
					<use xlink:href="__spritemap#sprite-arrowDown"></use>
				</svg>
			</span>
		</summary>

		<ul class="spoiler__list">
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Форт Боярд</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Гарри Поттер</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Джуманджи</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Аватар</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Сказки</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Мафия</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Подмосковные вечера</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Что? Где? Когда?</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Угадай мелодию</a>
			</li>

		</ul>

	</details>
	<!-- 4 -->
	<details class="spoiler__body">
		<summary class="spoiler__title">
			<h5>
				<a href="#">Места для праздника</a>
			</h5>
			<span class="spoiler__icon">
				<svg>
					<use xlink:href="__spritemap#sprite-arrowDown"></use>
				</svg>
			</span>
		</summary>

		<ul class="spoiler__list">
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Наша площадка</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Выездные</a>
			</li>

		</ul>

	</details>
	<!-- 5 -->
	<details class="spoiler__body">
		<summary class="spoiler__title">
			<h5>
				<a href="#">О нас</a>
			</h5>
			<span class="spoiler__icon">
				<svg>
					<use xlink:href="__spritemap#sprite-arrowDown"></use>
				</svg>
			</span>
		</summary>

		<ul class="spoiler__list">
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Цены</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Сотрудничество</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Отзывы</a>
			</li>
			<li class="spoiler__item">
				<a href='#' class="spoiler__link">Контакты</a>
			</li>

		</ul>

	</details>

	<include src="@components/custom/elements/social/social.html">
	</include>

</nav>
