.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white, #ffffff);

	&__content {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		border-radius: var(--border30);

		@include adaptiveValue('gap', 80, 32);
		@include adaptiveValue('padding', 50, 30);
		@include bg-center;
	}

	&-top {
		display: flex;
		width: 100%;
	}

	&-center {
		&__content {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			align-items: flex-start;
			gap: 32px;

			@media (width < #{$tablet}px) {
				grid-template-columns: 1fr;
				gap: 24px;
			}
		}

		& .spoiler__body {
			grid-column: span 1;
			display: flex;
			flex-direction: column;
			gap: 24px;

			@media (width < #{$tablet}px) {
				grid-row: span 1;
				gap: 0;
			}
		}

		& .spoiler__body_long {
			grid-column: 3;
			grid-row: 1 / span 2;

			@media (width < #{$tablet}px) {
				grid-column: span 1;
				grid-row: span 1;
			}
		}

		& .social {
			grid-column: span 2;
			grid-row: 2;
			align-self: flex-end;

			@media (width < #{$tablet}px) {
				grid-column: span 1;
				grid-row: 1;
			}
		}
	}

	&-bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		font-size: 16px;
		font-weight: 600;
		border-top: 1px solid var(--greylight, #f5f5f5);
		padding-block-start: 32px;

		@media (width < #{$mobile}px) {
			flex-direction: column-reverse;
		}

		&__copy {
			color: var(--greylight, #f5f5f5);
			cursor: default;
		}

		&__link {
			font-family: var(--second-family);
			color: transparent;
			background-image: linear-gradient(
				0deg,
				#f5f5f5,
				0%,
				#f5f5f5,
				60%,
				#f5f5f5 100%
			);
			background-clip: text;
			transition: all 0.3s ease 0s;

			html:not([data-fls-touch]) & {
				@media (any-hover: hover), (pointer: fine) {
					&:hover {
						background-image: linear-gradient(
							180deg,
							#808092,
							0%,
							#d0d0d6,
							60%,
							#ff6500 100%
						);
					}
				}
			}
		}

		&__policy {
			color: var(--white, #ffffff);

			& a {
				html:not([data-fls-touch]) & {
					@media (any-hover: hover), (pointer: fine) {
						&:hover {
							color: var(--black, #1b1c1e);
						}
					}
				}
			}
		}
	}
}
