.address {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 32px;
		width: 100%;

		@media (width < #{$tablet}px) {
			flex-direction: column;
		}
	}

	&-data {
		display: flex;
		flex-direction: column;
		gap: 50px;
		color: var(--white, #ffffff);

		&__phone {
			display: flex;
			flex-direction: column;
			gap: 16px;
			font-family: var(--second-family);
			font-weight: 800;
			line-height: 1;
			transition: color 0.3s ease 0s;

			& a:last-child {
				@include adaptiveValue('font-size', 30, 20);
			}

			html:not([data-fls-touch]) & {
				@media (any-hover: hover), (pointer: fine) {
					a {
						&:hover {
							color: var(--pink, #e9408f);
						}
					}
				}
			}

			@include adaptiveValue('font-size', 48, 30);
		}

		&__title {
			align-self: center;
			padding-block: 16px;
			padding-inline: 32px;
			font-family: var(--second-family);
			font-weight: 800;
			line-height: 1;
			text-align: center;
			background: var(--pink, #e9408f);
			border-radius: 100px;
			cursor: default;
			rotate: -6deg;

			@include adaptiveValue('font-size', 48, 24);

			@media (width < #{$tablet}px) {
				align-self: flex-start;
			}
		}

		&__description {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		&__name {
			font-weight: 600;
			color: var(--greylight, #f5f5f5);

			@include adaptiveValue('font-size', 20, 16);
		}

		&__address {
			font-weight: 700;
			transition: color 0.3s ease 0s;

			html:not([data-fls-touch]) & {
				@media (any-hover: hover), (pointer: fine) {
					&:hover {
						color: var(--pink, #e9408f);
					}
				}
			}

			@include adaptiveValue('font-size', 24, 20);
		}

		@media (width < #{$tablet}px) {
			width: 100%;
		}
	}

	&-map {
		flex-grow: 1;
		overflow: hidden;
		aspect-ratio: 644 / 338;
		max-width: 644px;
		border-radius: 30px;

		&__iframe {
			width: 100%;
			height: 100%;
		}

		@media (width < #{$tablet}px) {
			aspect-ratio: 295 / 300;
			width: 100%;
		}
	}

	&_section {
		& .address {
			&__content {
				overflow: hidden;
				border-radius: var(--border30, 30px);

				@include adaptiveValue('padding', 50, 30);
			}

			&-map {
				aspect-ratio: 635 / 480;
			}
		}
	}
}
