.moments {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include adaptiveValue('gap', 80, 40);

	counter-reset: item;

	&-content {
		position: relative;
		display: flex;
		align-items: center;
		gap: 50px;
		width: 100%;

		&__promo {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 80px 20px;
			width: 80%;
		}

		&__people {
			grid-column: 1;
			grid-row: 1 / 3;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			rotate: -15deg;

			& img {
				max-width: 208px;
				scale: -1 1;
			}
		}

		&__number {
			grid-column: 2;
			grid-row: 1;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 24px;
			font-weight: 600;
			text-align: center;
			color: var(--white, #ffffff);
			cursor: default;

			& span {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				aspect-ratio: 1;
				width: 73px;
				padding: 20px;
				background: var(--violet1, #8753d1);
				border-radius: 50%;

				&::before {
					content: counter(item);
					counter-increment: item;
				}
			}
		}

		&__img {
			width: 100%;
		}

		& .bubble {
			rotate: 8deg;
			margin-block-start: -20px;
		}

		&_reverse {
			flex-direction: row-reverse;
		}
	}

	& .slider-block {
		&__wrapper {
			display: flex;
			gap: 20px;
		}

		&__slide {
			overflow: hidden;
			border-radius: var(--border30, 30px);
			cursor: default;
		}

		@media (width < 768px) {
			& .slider-block {
				aspect-ratio: 355 / 250;
				width: 100%;

				&__wrapper {
					gap: 0;
				}

				&__slide {
					height: auto;
				}
			}
		}
	}

	@media (width < 768px) {
		.moments {
			&-content {
				flex-direction: column;
			}
		}
	}

	&_boyard {
		& .decor {
			position: absolute;

			&_compass {
				top: -120px;
				right: auto;
				left: -350px;
				aspect-ratio: 1 / 1;
				width: 260px;
				rotate: -25deg;
			}

			&_coin {
				top: -115px;
				right: -100px;
				width: 231px;
			}

			&_key {
				right: -400px;
				aspect-ratio: 1 / 1;
				width: 520px;
				rotate: 15deg;
				scale: -1 1;
			}
		}
	}
}
