<main class="page page_birthday-adult">

	<include src="@components/custom/section/promo/promo.html">
	</include>

	<include src="@components/custom/section/notice/notice.html">
	</include>

	<include src="@components/custom/section/quiz/quiz.html">
	</include>

	<include src="@components/custom/section/example/exampleFull.html">
	</include>

	<include src="@components/custom/section/adt/adt.html"></include>

	<section data-fls-section class="section" id='organization'>
		<div class="section__container">

			<div class="section-head">
				<div class="section-head__title">
					<h2>Какие праздники мы организуем</h2>
				</div>
				<div class="section-head__subtitle">
					<p>Подзаголовок</p>
				</div>
			</div>

			<div class="section-content">


				<!-- content -->
				<div data-fls-organization class="organization"
					data-change-background
					data-background-color="--violet1, #8753d1"
					data-background-img="@img/sliders/sliderBgWhiteSimple.png">

					<div class="organization-head">
						<div class="organization-head__title">
							<h3>Праздники для взрослых</h3>
						</div>
						<div class="organization-head__button">
							<button data-fls-button type="button"
								class="button button_white">
								Выбрать праздник
							</button>
						</div>
					</div>

					<div class="organization-slider" data-slider-parent>
						<include src="@components/layout/slider/simple2.html">
						</include>

						<!-- If we need navigation buttons -->
						<button type='button'
							class="slider-block__prev swiper-button-prev">
							<svg>
								<use xlink:href="__spritemap#sprite-arrow"></use>
							</svg>
						</button>

						<button type='button'
							class="slider-block__next swiper-button-next">
							<svg>
								<use xlink:href="__spritemap#sprite-arrow"></use>
							</svg>
						</button>
					</div>

				</div>

				<!-- content -->
				<div data-fls-organization class="organization"
					data-change-background
					data-background-color="--tiffany1, #7cbaba"
					data-background-img="@img/sliders/sliderBgWhiteSimple.png">

					<div class="organization-head">
						<div class="organization-head__title">
							<h3>Праздники для взрослых</h3>
						</div>
						<div class="organization-head__button">
							<button data-fls-button type="button"
								class="button button_white">
								Выбрать праздник
							</button>
						</div>
					</div>

					<div class="organization-slider" data-slider-parent>
						<include src="@components/layout/slider/simple2.html">
						</include>

						<!-- If we need navigation buttons -->
						<button type='button'
							class="slider-block__prev swiper-button-prev">
							<svg>
								<use xlink:href="__spritemap#sprite-arrow"></use>
							</svg>
						</button>

						<button type='button'
							class="slider-block__next swiper-button-next">
							<svg>
								<use xlink:href="__spritemap#sprite-arrow"></use>
							</svg>
						</button>
					</div>

				</div>

			</div>

		</div>
	</section>

	<include src="@components/custom/section/dream/dream.html">
	</include>

	<include src="@components/custom/section/survey/survey.html">
	</include>

	<section data-fls-section class="section" id='moments'
		data-change-background data-background-color="--white, #ffffff"
		data-background-img="@img/bg/momentsBg.png">
		<div class="section__container">

			<div class="section-head">
				<div class="section-head__title">
					<h2>Важные моменты праздника,
						<br>
						<span>
							которые ждут вас
						</span>
					</h2>
				</div>
				<div class="section-head__subtitle">
					<p>Подзаголовок</p>
				</div>
			</div>

			<div class="section-content">
				<!-- content -->
				<div data-fls-moments class="moments">

					<div class="moments-content">

						<div class="moments-content__promo">

							<div class="moments-content__number">
								<span></span>
							</div>

							<div class="moments-content__people">
								<img src="@img/people/peopleHi.png" alt="Image">
							</div>

							<div data-fls-bubble class="bubble bubble_left">

								<div class="bubble__tail">
									<svg class="" width="98" height="21"
										viewBox="0 0 98 21" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M96.6226 19.6853L41.0836 13.5723L1.36544 0.342889L41.9326 0.534396L96.6226 19.6853Z"
											fill="white" stroke="black" stroke-width="1" />
									</svg>
								</div>

								<div class="bubble__text">
									<p>Невозможно оторваться от программы.
										Все причастные
										становятся частью сценария</p>
								</div>
							</div>

						</div>

						<div data-fls-slider
							class="slider-block swiper slider-block_moments">

							<div class="slider-block__wrapper swiper-wrapper">

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider26.png" alt="Image">
								</div>

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider27.png" alt="Image">
								</div>

							</div>

						</div>

					</div>

					<div class="moments-content moments-content_reverse">

						<div class="moments-content__promo">

							<div class="moments-content__number">
								<span></span>
							</div>

							<div class="moments-content__people">
								<img src="@img/people/peoplePistols.png" alt="Image">
							</div>

							<div data-fls-bubble class="bubble bubble_left">

								<div class="bubble__tail">
									<svg class="" width="98" height="21"
										viewBox="0 0 98 21" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M96.6226 19.6853L41.0836 13.5723L1.36544 0.342889L41.9326 0.534396L96.6226 19.6853Z"
											fill="white" stroke="black" stroke-width="1" />
									</svg>
								</div>

								<div class="bubble__text">
									<p>
										Вы с близкими за одним столом. Воздух просто
										искрится от счастья
									</p>
								</div>
							</div>

						</div>

						<div data-fls-slider
							class="slider-block swiper slider-block_moments">

							<div class="slider-block__wrapper swiper-wrapper">

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider26.png" alt="Image">
								</div>

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider27.png" alt="Image">
								</div>

							</div>

						</div>

					</div>

					<div class="moments-content">

						<div class="moments-content__promo">

							<div class="moments-content__number">
								<span></span>
							</div>

							<div class="moments-content__people">
								<img src="@img/people/peopleTiger.png" alt="Image">
							</div>

							<div data-fls-bubble class="bubble bubble_left">

								<div class="bubble__tail">
									<svg class="" width="98" height="21"
										viewBox="0 0 98 21" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M96.6226 19.6853L41.0836 13.5723L1.36544 0.342889L41.9326 0.534396L96.6226 19.6853Z"
											fill="white" stroke="black" stroke-width="1" />
									</svg>
								</div>

								<div class="bubble__text">
									<p>
										Вы предвкушаете: что же будет дальше?
									</p>
								</div>
							</div>

						</div>

						<div data-fls-slider
							class="slider-block swiper slider-block_moments">

							<div class="slider-block__wrapper swiper-wrapper">

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider26.png" alt="Image">
								</div>

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider27.png" alt="Image">
								</div>

							</div>

						</div>

					</div>

					<div class="moments-content moments-content_reverse">

						<div class="moments-content__promo">

							<div class="moments-content__number">
								<span></span>
							</div>

							<div class="moments-content__people">
								<img src="@img/people/peopleOke.png" alt="Image">
							</div>

							<div data-fls-bubble class="bubble bubble_left">

								<div class="bubble__tail">
									<svg class="" width="98" height="21"
										viewBox="0 0 98 21" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M96.6226 19.6853L41.0836 13.5723L1.36544 0.342889L41.9326 0.534396L96.6226 19.6853Z"
											fill="white" stroke="black" stroke-width="1" />
									</svg>
								</div>

								<div class="bubble__text">
									<p>
										Торжественная часть, которая свяжет всех близких,
										друзей и коллег
									</p>
								</div>
							</div>

						</div>

						<div data-fls-slider
							class="slider-block swiper slider-block_moments">

							<div class="slider-block__wrapper swiper-wrapper">

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider26.png" alt="Image">
								</div>

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider27.png" alt="Image">
								</div>

							</div>

						</div>

					</div>

					<div class="moments-content">

						<div class="moments-content__promo">

							<div class="moments-content__number">
								<span></span>
							</div>

							<div class="moments-content__people">
								<img src="@img/people/peopleHeart.png" alt="Image">
							</div>

							<div data-fls-bubble class="bubble bubble_left">

								<div class="bubble__tail">
									<svg class="" width="98" height="21"
										viewBox="0 0 98 21" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M96.6226 19.6853L41.0836 13.5723L1.36544 0.342889L41.9326 0.534396L96.6226 19.6853Z"
											fill="white" stroke="black" stroke-width="1" />
									</svg>
								</div>

								<div class="bubble__text">
									<p>
										Вы предвкушаете: что же будет дальше?
									</p>
								</div>
							</div>

						</div>

						<div data-fls-slider
							class="slider-block swiper slider-block_moments">

							<div class="slider-block__wrapper swiper-wrapper">

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider26.png" alt="Image">
								</div>

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider27.png" alt="Image">
								</div>

							</div>

						</div>

					</div>

					<div class="moments-content moments-content_reverse">

						<div class="moments-content__promo">

							<div class="moments-content__number">
								<span></span>
							</div>

							<div class="moments-content__people">
								<img src="@img/people/peopleFire.png" alt="Image">
							</div>

							<div data-fls-bubble class="bubble bubble_left">

								<div class="bubble__tail">
									<svg class="" width="98" height="21"
										viewBox="0 0 98 21" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M96.6226 19.6853L41.0836 13.5723L1.36544 0.342889L41.9326 0.534396L96.6226 19.6853Z"
											fill="white" stroke="black" stroke-width="1" />
									</svg>
								</div>

								<div class="bubble__text">
									<p>
										Торжественная часть, которая свяжет всех близких,
										друзей и коллег
									</p>
								</div>
							</div>

						</div>

						<div data-fls-slider
							class="slider-block swiper slider-block_moments">

							<div class="slider-block__wrapper swiper-wrapper">

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider26.png" alt="Image">
								</div>

								<div class="slider-block__slide swiper-slide">
									<img class='moments-content__img'
										src="@img/sliders/slider27.png" alt="Image">
								</div>

							</div>

						</div>

					</div>

				</div>
			</div>

		</div>
	</section>

	<include src="@components/custom/section/timer/timer.html">
	</include>

	<include src="@components/custom/section/example/example.html">
	</include>

	<include src="@components/custom/section/holiday/holiday.html">
	</include>

	<include src="@components/custom/section/team/team.html"></include>

	<include src="@components/custom/section/review/review.html">
	</include>

	<include src="@components/custom/section/recall/recall.html">
	</include>

	<include src="@components/custom/section/plain/plain.html">
	</include>

	<include src="@components/custom/section/faq/faq.html"></include>

	<include src="@components/custom/section/banner/banner.html">
	</include>

</main>
