.quiz {
	position: relative;
	overflow: visible;

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 800px;
		background: #f5f5f5;
		border-radius: var(--border30, 30px);
	}

	&_boyard {
		& .decor {
			position: absolute;
			z-index: 0;
			aspect-ratio: initial;
		}

		& .decor_coin {
			top: 130px;
			left: -86px;
			width: 188px;
		}

		& .decor_key {
			top: -30px;
			right: 0;
			width: to-rem(250);
			rotate: 30deg;
		}

		& .promo__container {
			z-index: 1;
		}
	}
}
